{{ title }}
<hr/>

<h1>
    {{ rider }}
</h1>

{% for rider in riders %}
<p>
    <li>Name: {{ rider.rider }}</li>
    <li>Age: {{ rider.age }}</td>
    <li>MotoGp Titles: {{ rider.motogp_titles }}</li>
    <li>Moto2 Titles: {{ rider.moto2_titles }}</li>
    <li>Moto3 Titles: {{ rider.moto3_titles }}</li>
    <li>Moto3 Debut: {{ rider.moto3_debut }}</li>
    <li>Moto2 Debut: {{ rider.moto2_debut }}</li>
    <li>MotoGP Debut: {{ rider.motogp_debut }}</li>
    <li>Current team: {{ rider.team }}</li>
    <li>Oldt teams: {{ rider.old_teams }}</li>
    <li>About: {{ rider.about_rider }}</li>
</p>

{% endfor %}